<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZM4cr0aaOpagck95UoicXX4gziqZqfac</string>
	<key>GCM_SENDER_ID</key>
	<string>862047146702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simonriley.identify</string>
	<key>PROJECT_ID</key>
	<string>identify-d7c64</string>
	<key>STORAGE_BUCKET</key>
	<string>identify-d7c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862047146702:ios:8759d2646ec50c1bd0369f</string>
</dict>
</plist>